@{
    ViewData["Title"] = "Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Autor</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Autor>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Autor")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("AutorId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .ShowBorders(true)                        // Muestra bordes entre celdas
.RowAlternationEnabled(true)
.ColumnAutoWidth(true)
    .Columns(columns => {

        columns.AddFor(m => m.AutorId)
         .Caption("ID del Autor");

        columns.AddFor(m => m.Nombre)
         .Caption("Nombre");

        columns.AddFor(m => m.Nacionalidad)
         .Caption("Nacionalidad");

        columns.AddFor(m => m.Fechadenacimiento)
         .Caption("Fecha de Nacimiento");

        columns.AddFor(m => m.Biografia)
         .Caption("Biografía");
    })
    .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Texts(t => t
    .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
    .SaveRowChanges("Guardar")
    .CancelRowChanges("Cancelar")
    )

  )

  )