@{
    ViewData["Title"] = "Cargo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cargo</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Cargo>()
    .DataSource(ds => ds.WebApi()
        .Controller("Cargo")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("CargoId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.CargoId);

        columns.AddFor(m => m.Titulo);

        columns.AddFor(m => m.Descripcion);

        columns.AddFor(m => m.Departamento);
    })
    .Editing(e => e
     .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
