@{
    ViewData["Title"] = "Deducciones";
}

<h2>Deducciones</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Deducciones>()
    .DataSource(ds => ds.WebApi()
        .Controller("Deducciones")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("DeduccionesId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.SearchPanel(f => f.Visible(true))
.ShowBorders(true)                        // Muestra bordes entre celdas
.RowAlternationEnabled(true)
.ColumnAutoWidth(true)
    .Columns(columns => {

        columns.AddFor(m => m.DeduccionesId);

        columns.AddFor(m => m.EmpleadoId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Empleado").LoadAction("Get").Key("EmpleadoId"))
            .ValueExpr("EmpleadoId")
            .DisplayExpr("Nombre")
        );

        columns.AddFor(m => m.TipoDeduccion);

        columns.AddFor(m => m.Monto);
    })
        .Editing(e => e
    .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Texts(t => t
.ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
.SaveRowChanges("Guardar")
.CancelRowChanges("Cancelar")
)
)
)

