@{
    ViewData["Title"] = "Detalle_Venta";
}

<h2>Detalle_Venta</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Detalle_Venta>()
    .DataSource(ds => ds.WebApi()
        .Controller("Detalle_Venta")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.VentaId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Venta").LoadAction("Get").Key("VentaId"))
            .ValueExpr("VentaId")
            .DisplayExpr("Descripcion")
        );

        columns.AddFor(m => m.LibroId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Libro").LoadAction("Get").Key("LibroId"))
            .ValueExpr("LibroId")
            .DisplayExpr("Titulo")
        );

        columns.AddFor(m => m.Cantidad);

        columns.AddFor(m => m.Preciounitario);

        columns.AddFor(m => m.Subtotal);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
