@{
    ViewData["Title"] = "Detalle_pedido";
}

<div class="d-flex justify-content-center align-items-center mb-4">
    <div class="text-center">
        <h1 class="display-4">
            <i class="fas fa-clipboard-list"></i> Detalle Pedido
        </h1>
        <hr class="w-50 mx-auto" />
    </div>
</div>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Detalle_pedido>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Detalle_pedido")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("Id")
    )
    .RemoteOperations(true)
.ShowBorders(true)
    .RowAlternationEnabled(true)
    .HoverStateEnabled(true)
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .FilterRow(filterRow => filterRow.Visible(true))
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 20 });
        pager.ShowInfo(true);
    })
    .Columns(columns => {

    columns.AddFor(m => m.Id)
    .Caption("ID Detalle Pedido");

    columns.AddFor(m => m.PedidoId).Lookup(lookup => lookup
    .DataSource(ds => ds.WebApi().Controller("Pedido").LoadAction("GetPedidos").Key("PedidoId"))
    .ValueExpr("PedidoId")
    .DisplayExpr("Estado")
    );

    columns.AddFor(m => m.LibroId).Lookup(lookup => lookup
    .DataSource(ds => ds.WebApi().Controller("Libro").LoadAction("GetLibros").Key("LibroId"))
    .ValueExpr("LibroId")
    .DisplayExpr("Titulo")
    );

    columns.AddFor(m => m.Cantidad)
    .Caption("Cantidad");

    columns.AddFor(m => m.PrecioUnitario)
    .Caption("Precio Unitario");

    columns.AddFor(m => m.Subtotal)
    .Caption("Subtotal");
    })
 .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
     .Popup(p => p
        .Title("Detalle de Pedido")
        .ShowTitle(true)
        .Width(700)
        .Height(500)
    )
     .Form(f => f
            .ColCount(2)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.PedidoId);
                items.AddSimpleFor(m => m.LibroId);
                items.AddSimpleFor(m => m.Cantidad);
                items.AddSimpleFor(m => m.PrecioUnitario);
                items.AddSimpleFor(m => m.Subtotal);

            })
        )
  .Texts(t => t
        .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
        .SaveRowChanges("Guardar")
        .CancelRowChanges("Cancelar")
        .AddRow("Agregar")
        .EditRow("Editar")
        .DeleteRow("Eliminar")
        )
      )
    )
