@{
    ViewData["Title"] = "Editorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center mb-4">
    <div class="text-center">
        <h1 class="display-4">
            <i class="fas fa-building"></i> Editorial
        </h1>
        <hr class="w-50 mx-auto" />
    </div>
</div>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Editorial>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Editorial")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("EditorialId")
    )
    .RemoteOperations(true)
 .ShowBorders(true)
    .RowAlternationEnabled(true)
    .HoverStateEnabled(true)
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .FilterRow(filterRow => filterRow.Visible(true))
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 20 });
        pager.ShowInfo(true);
    })
    .Columns(columns => {

        columns.AddFor(m => m.EditorialId)
        .Caption("ID de Editorial");

        columns.AddFor(m => m.Nombre)
        .Caption("Nombre");

        columns.AddFor(m => m.Pais)
        .Caption("País");

        columns.AddFor(m => m.Fundacion)
        .Caption("fundación");

        columns.AddFor(m => m.Catalogo)
        .Caption("Catalágo");
    })
    .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
     .Popup(p => p
        .Title("Gestión de Editoriales")
        .ShowTitle(true)
        .Width(700)
        .Height(500)
    )
     .Form(f => f
            .ColCount(2)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Nombre);
                items.AddSimpleFor(m => m.Pais);
                items.AddSimpleFor(m => m.Fundacion);
                items.AddSimpleFor(m => m.Catalogo);

            })
        )
  .Texts(t => t
        .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
        .SaveRowChanges("Guardar")
        .CancelRowChanges("Cancelar")
        .AddRow("Agregar")
        .EditRow("Editar")
        .DeleteRow("Eliminar")
        )
      )
    )