@{
    ViewData["Title"] = "Editorial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editorial</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Editorial>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Editorial")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("EditorialId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.SearchPanel(f => f.Visible(true))
.ShowBorders(true)                        // Muestra bordes entre celdas
.RowAlternationEnabled(true)
.ColumnAutoWidth(true)
    .Columns(columns => {

        columns.AddFor(m => m.EditorialId)
        .Caption("ID de Editorial");

        columns.AddFor(m => m.Nombre)
        .Caption("Nombre");

        columns.AddFor(m => m.Pais)
        .Caption("País");

        columns.AddFor(m => m.Fundacion)
        .Caption("fundación");

        columns.AddFor(m => m.Catalogo)
        .Caption("Catalágo");
    })
    .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Texts(t => t
    .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
    .SaveRowChanges("Guardar")
    .CancelRowChanges("Cancelar")
    )
    )
    )
