@{
    ViewData["Title"] = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Empleado>()
    .DataSource(ds => ds.WebApi()
        .Controller("Empleado")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.cargoId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Cargo").LoadAction("Get").Key("cargoId"))
            .ValueExpr("cargoId")
            .DisplayExpr("Titulo")
        );

        columns.AddFor(m => m.sucursalId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Sucursal").LoadAction("Get").Key("sucursalId"))
            .ValueExpr("sucursalId")
            .DisplayExpr("Nombresucursal")
        );

        columns.AddFor(m => m.Salario);

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.Apellidos);

        columns.AddFor(m => m.Correo);

        columns.AddFor(m => m.Telefono);

        columns.AddFor(m => m.Direccion);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
