@{
    ViewData["Title"] = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Empleado</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Empleado>()
    .DataSource(ds => ds.WebApi()
        .Controller("Empleado")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("EmpleadoId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .ShowBorders(true)                        // Muestra bordes entre celdas
.RowAlternationEnabled(true)
.ColumnAutoWidth(true)
    .Columns(columns => {

        columns.AddFor(m => m.EmpleadoId);

        columns.AddFor(m => m.CargoId).Lookup(lookup => lookup

            .DataSource(ds => ds.WebApi().Controller("Cargo").LoadAction("Get").Key("CargoId"))

            .ValueExpr("CargoId")
            .DisplayExpr("Titulo")
        );

        columns.AddFor(m => m.SucursalId).Lookup(lookup => lookup

            .DataSource(ds => ds.WebApi().Controller("Sucursal").LoadAction("Get").Key("SucursalId"))

            .ValueExpr("SucursalId")
            .DisplayExpr("Nombresucursal")
        );

        columns.AddFor(m => m.Salario)
         .Caption("Salario");

        columns.AddFor(m => m.Nombre)
        .Caption("Nombre");

        columns.AddFor(m => m.Apellidos)
        .Caption("Apellido");

        columns.AddFor(m => m.Correo)
        .Caption("Correo");

        columns.AddFor(m => m.Telefono)
        .Caption("Teléfono");

        columns.AddFor(m => m.Direccion)
        .Caption("Dirección");
    })
    .Editing(e => e
     .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Texts(t => t
        .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
        .SaveRowChanges("Guardar")
        .CancelRowChanges("Cancelar")
    )

    )
)
