@{
    ViewData["Title"] = "Lector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lector</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Lector>()
    .DataSource(ds => ds.WebApi()
        .Controller("Lector")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("LectorId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.LectorId);

        columns.AddFor(m => m.Nombre);

        columns.AddFor(m => m.Apellidos);

        columns.AddFor(m => m.Correo);

        columns.AddFor(m => m.Telefono);

        columns.AddFor(m => m.Direccion);
    })
    .Editing(e => e
     .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
