@{
    ViewData["Title"] = "Planilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planilla</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Planilla>()
    .DataSource(ds => ds.WebApi()
        .Controller("Planilla")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.Id);

        columns.AddFor(m => m.Fechapago);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
