@{
    ViewData["Title"] = "Planilla";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Planilla</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Planilla>
    ()
    .DataSource(ds => ds.WebApi()
    .Controller("Planilla")
    .LoadAction("Get")
    .InsertAction("Post")
    .UpdateAction("Put")
    .DeleteAction("Delete")
    .Key("PlanillaId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.PlanillaId)
             .Caption("ID de Planilla");

        columns.AddFor(m => m.Fechapago)
             .Caption("Fecha de Pago");
    })
    .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
    .Texts(t => t
    .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
    .SaveRowChanges("Guardar")
    .CancelRowChanges("Cancelar")
    )
    )
    )
