@{
    ViewData["Title"] = "Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Proveedor</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Proveedor>()
    .DataSource(ds => ds.WebApi()
        .Controller("Proveedor")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ProveedorId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.ProveedorId);

        columns.AddFor(m => m.Nombreproveedor);

        columns.AddFor(m => m.Direccion);

        columns.AddFor(m => m.Correo);

        columns.AddFor(m => m.Telefono);
    })
    .Editing(e => e
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
    )
)
