@{
    ViewData["Title"] = "Proveedor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center mb-4">
    <div class="text-center">
        <h1 class="display-4">
            <i class="fas fa-truck"></i> Proveedor
        </h1>
        <hr class="w-50 mx-auto" />
    </div>
</div>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Proveedor>()
    .DataSource(ds => ds.WebApi()
        .Controller("Proveedor")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("ProveedorId")
    )
    .RemoteOperations(true)
    .ShowBorders(true)
    .RowAlternationEnabled(true)
    .HoverStateEnabled(true)
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .FilterRow(filterRow => filterRow.Visible(true))
    .SearchPanel(searchPanel => searchPanel.Visible(true))
    .Paging(paging => paging.PageSize(10))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 5, 10, 20 });
        pager.ShowInfo(true);
    })
    .Columns(columns => {

        columns.AddFor(m => m.ProveedorId)
        .Caption("Id de Proveedor");

        columns.AddFor(m => m.Nombreproveedor)
        .Caption("Nombre Proveedor");

        columns.AddFor(m => m.Direccion)
        .Caption("Dirección");

        columns.AddFor(m => m.Correo)
        .Caption("Correo");

        columns.AddFor(m => m.Telefono)
        .Caption("Teléfono");
    })
.Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
     .Popup(p => p
        .Title("Gestión de Proveedores")
        .ShowTitle(true)
        .Width(700)
        .Height(500)
    )
     .Form(f => f
            .ColCount(2)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Nombreproveedor);
                items.AddSimpleFor(m => m.Direccion);
                items.AddSimpleFor(m => m.Correo);
                items.AddSimpleFor(m => m.Telefono);
            })
        )
  .Texts(t => t
        .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
        .SaveRowChanges("Guardar")
        .CancelRowChanges("Cancelar")
        .AddRow("Agregar")
        .EditRow("Editar")
        .DeleteRow("Eliminar")
        )
      )
    )