@{
    ViewData["Title"] = "Sucursal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sucursal</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Sucursal>()
    .DataSource(ds => ds.WebApi()
        .Controller("Sucursal")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("SucursalId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.SucursalId)
        .Caption("ID de Sucursal");

        columns.AddFor(m => m.Nombresucursal)
        .Caption("Nombre de Sucursal");

        columns.AddFor(m => m.Direccion)
        .Caption("Dirección");

        columns.AddFor(m => m.Telefono)
        .Caption("Teléfono");

        columns.AddFor(m => m.Gerente)
        .Caption("Gerente");

        columns.AddFor(m => m.Horaentrada)
        .Caption("Hora entrada");

        columns.AddFor(m => m.Horasalida)
        .Caption("Hora Salida");
    })
    .Editing(e => e
     .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .UseIcons(true)
<<<<<<< Updated upstream
          .Texts(t => t
    .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
    .SaveRowChanges("Guardar")
    .CancelRowChanges("Cancelar")
    )
    )
=======
>>>>>>> Stashed changes
    )
)
