@{
    ViewData["Title"] = "Turno";
}

<h2>Turno</h2>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Turno>()
    .DataSource(ds => ds.WebApi()
        .Controller("Turno")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("TurnoId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
.FilterRow(f => f.Visible(true))
.HeaderFilter(f => f.Visible(true))
.SearchPanel(f => f.Visible(true))
    .Columns(columns => {

        columns.AddFor(m => m.TurnoId);

        columns.AddFor(m => m.EmpleadoId).Lookup(lookup => lookup
            .DataSource(ds => ds.WebApi().Controller("Empleado").LoadAction("Get").Key("EmpleadoId"))
            .ValueExpr("EmpleadoId")
            .DisplayExpr("Nombre")
        );

        columns.AddFor(m => m.Horainicio);

        columns.AddFor(m => m.Horafinal);
    })
       .Editing(e => e
    .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Texts(t => t
.ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
.SaveRowChanges("Guardar")
.CancelRowChanges("Cancelar")
)
)
)

