@{
    ViewData["Title"] = "Ubicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center mb-4">
    <div class="text-center">
        <h1 class="display-4">
            <i class="fas fa-map-marker-alt"></i> Ubicacion
        </h1>
        <hr class="w-50 mx-auto" />
    </div>
</div>

@(Html.DevExtreme().DataGrid<DevExtremeLibreria.Models.Ubicacion>()
    .DataSource(ds => ds.WebApi()
        .Controller("Ubicacion")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("UbicacionId")
    )
    .RemoteOperations(true)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(true))
    .HeaderFilter(f => f.Visible(true))
    .SearchPanel(f => f.Visible(true))
    .ShowBorders(true)
.RowAlternationEnabled(true)
.ColumnAutoWidth(true)
    .Columns(columns => {

        columns.AddFor(m => m.UbicacionId)
        .Caption("ID de Ubicación");

        columns.AddFor(m => m.Numerodeestante)
        .Caption("Número de Estante");

        columns.AddFor(m => m.Numerodepasillo)
        .Caption("Número de Pasillo");
    })
 .Editing(e => e
    .Mode(GridEditMode.Popup)
    .AllowAdding(true)
    .AllowUpdating(true)
    .AllowDeleting(true)
     .Popup(p => p
        .Title("Gestion de Ubicacion")
        .ShowTitle(true)
        .Width(700)
        .Height(500)
    )
     .Form(f => f
            .ColCount(2)
            .Items(items =>
            {
                items.AddSimpleFor(m => m.Numerodeestante);
                items.AddSimpleFor(m => m.Numerodepasillo);

            })
        )
  .Texts(t => t
        .ConfirmDeleteMessage("¿Estás seguro de que deseas eliminar este registro?")
        .SaveRowChanges("Guardar")
        .CancelRowChanges("Cancelar")
        .AddRow("Agregar")
        .EditRow("Editar")
        .DeleteRow("Eliminar")
        )
      )
    )
